@import "config";

.header {
   @media (min-width: 500px) {
      margin-bottom: 2rem;
   }

   @media (min-width: 700px) {
      margin-bottom: 1rem;
      padding: 1.7rem 2.5rem;
   }

   @media (min-width: 1100px) {
      margin-bottom: 0;
      padding: 2.5rem 3rem
   }

   &__logo {
      @media (min-width: 1200px) {
         width: min(10%, 10rem)
      }
   }

   ul {
      @media (min-width: 1000px) {
         font-size: calc(0.75rem + .1vw);
      }
   }
}

.main {
   &__files {
      &__illustration {
         @media (min-width: 600px) {
            width: 70%;
         }

         @media (min-width: 850px) {
            width: 60%;
         }
      }

      @media (min-width: 1100px) {
         padding: 3rem 3rem 4rem;
         text-align: left;
         align-items: flex-start;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-areas: "_text illustration";

         &__text {
            grid-area: _text;
         }

         h1 {
            font-size: 2.7vw;
            line-height: 1.4;
            margin: 0;
            margin-bottom: 1rem;
            max-width: 45vw;
         }

         p {
            align-self: stretch;
            margin: 0;
            margin-bottom: 1.25rem;
            max-width: min(40vw, 35rem);
         }

         form {
            input {
               display: inline;
               margin: 0;
               margin-right: .5rem;
               width: min(60%, 28rem);
            }

            button {
               display: inline;
               width: min(30%, 12rem);
            }
         }

         &__illustration {
            grid-area: illustration;
            width: 100%;
            margin: 0;
         }
      }

      @media (min-width: 1440px) {
         padding-left: $section-margin;

         &__illustration {
            width: 100%;
         }

         h1 {
            font-size: 2.8vw;
         }

         p {
            font-size: 1vw;
         }
      }
   }

   &__productive {
      &__illustration {
         @media (min-width: 600px) {
            width: 80%;
         }

         @media (min-width: 800px) {
            width: 70%;
         }
      }

      &__p {
         @media (min-width: 850px) {
            max-width: $max-width2;
         }
      }

      @media (min-width: 850px) {
         font-size: 1.1rem;
      }

      @media (min-width: 1100px) {
         display: grid;
         grid-template-areas:
            "h1 illustration"
            "p illustration"
            "a illustration"
            "quote illustration";

         padding: 3rem 3rem 5rem;
         text-align: left;
         justify-items: flex-start;
         column-gap: 2rem;

         &__h1 {
            grid-area: h1;
            font-size: 2em;
            margin-bottom: .5em;
         }

         &__p {
            grid-area: p;
         }

         a {
            margin: 1rem 0 2rem;
            grid-area: a;
         }

         &__quote {
            grid-area: quote;
            margin: 0;
         }

         &__illustration {
            grid-area: illustration;
            width: 100%;
         }
      }

      @media (min-width: 1440px) {
         padding-left: $section-margin;
         grid-template-columns: 50% 50%;

         &__h1 {
            font-size: 2.7vw;
         }
      }
   }

   &__access {
      @media (min-width: 1100px) {
         padding: 4rem 3rem 3rem;
         display: grid;
         grid-template-areas:
            "h1 form"
            "p form";
         grid-template-columns: 1fr 1fr;
         column-gap: 3rem;
         text-align: left;

         h1 {
            grid-area: h1;
            font-size: calc(1.5em + .6vw);
         }

         p {
            grid-area: p;
            font-size: calc(.85em + .15vw);
            max-width: min(40vw, 40rem);
         }

         form {
            grid-area: form;

            input {
               width: min(80%, 35rem);
            }

            button {
               width: min(40%, 13rem);
            }
         }
      }

      @media (min-width: 1440px) {
         padding-left: $section-margin
      }
   }
}

.footer {
   @media (min-width: 900px) {
      padding: 5rem 3rem;

      display: grid;
      grid-template-areas:
         "logo jobs terms icons"
         "contact jobs terms icons";

      ul {
         margin: 0;
      }

      &__logo {
         grid-area: logo;
      }

      &__jobs {
         grid-area: jobs;
      }

      &__terms {
         grid-area: terms;
      }

      &__icons {
         grid-area: icons;

      }

      &__contact {
         grid-area: contact;
      }
   }
}